__pycache__/
env/
*.pyc
dbScripts/connect/unsafeConnect.sh
dbScripts/data/vendor_logos/
tests/logs/
dbScripts/populate/populateProdVendors.py
dbScripts/unsafeRefresh.sh
.DS_Store
.pytest_cache
dbScripts/data/